@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto.ttf");
}

header {
  height: 130px;
  margin-top: -8px;
  margin-left: 20px;
  margin-right: 20px;
  background: linear-gradient(#fff, #ECECEC);
  box-shadow: 0px 0px 10px -5px #000;


  #logo {
    height: 68px;
    width: 90px;
    margin-top: 25px;
    margin-left: 130px;
    background-image: url('../logo.png');
    background-repeat: no-repeat;
    float: left;
  }
  #filter {
    padding-left: 270px;
    padding-top: 40px;
      #search {
        .searchBar {
          box-shadow: 0 0 1px #000;
          width: 300px;
          border-radius: 10px;
        }
      }

      #filterBar {
        padding-top: 10px;
        width: 300px;

      }

  }
}
